<!DOCTYPE html>
<html>
<title>
  Letter Run
</title>

<head>
  <link rel="stylesheet" type="text/css" href="menu.css">
</head>

<body>
  <div class="header">Letter Run</div>
  <div class="grid-container">
    <a href="characterselect.html" class="play-link"><button class="play-button">Play</button></a>
    <a href="settings.html" class="settings-link"><button class="settings-button">Instructions</button></a>
    <button onclick="self.close()" class="exit-button">Exit</button></a>
  </div>
</body>

</html>