<!DOCTYPE html>
<html>
<title>
  Letter Run
</title>

<head>
  <link rel="stylesheet" type="text/css" href="settings.css">
</head>


<script>
</script>

<body>
  <a href="menu.html" class="back-link">
    <button class="back">&laquo;</button>
  </a>
  <div class="grid-container">
    <div class="item1"><b>Instructions</b></div>
    <div class="item2">
      <b>How to play</b>
      <br>
      <div class="bodytext">
        Use the arrow keys to move! Watch out for monsters and pitfalls!
      </div>
      <br>
      <br>
      <b>Objective</b>
      <br>
      <div class="bodytext">
        Collect all the letters for the word and reach the chest in the fastest time possible.
      </div>
      <br>
      <br>
      <b>Avoid Monsters</b>
      <br>
      <div class="bodytext">
        If you make contact with a monster you will lose a letter.
        If you run out of letters you will die!
      </div>
    </div>
  </div>
</body>

</html>